body {
    background-color: black;
    font-family: "Instrument Sans", serif;
}

/* header */
.navbar {
    position: fixed; 
    top: 10px; 
    left: 20px; 
    right: 20px; 
    width: calc(100% - 80px); 
    z-index: 1000; 
    background: rgba(255, 255, 255, 0.1); 
    backdrop-filter: blur(10px); 
    border-radius: 20px; 
    padding: 15px; 
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); 
    border: 1px solid rgba(255, 255, 255, 0.2); 
    color: white; 
    cursor: pointer;
}

.navbar-logo {
    display: flex;
    gap: 20px;
}

.navbar-logo h1{
    color: white;
    font-size: 40px;
    font-weight: 700;
}
  
.navbar-links {
    display: flex;
    gap: 1rem;
}
  
.login-button {
    background-color: #4D4DFF;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 20px;
    cursor: pointer;
}

.login-button h1 {
    color: white;
    font-size: 40px;
    font-weight: 700;
}

/* hero section */
.home-section {
    padding-top: 320px;
}

.hero-section h1 {
    color: white;
    font-size: 90px;
    font-weight: 700;
    text-align: center;
}

.home-section p {
    color: yellow;
    font-size: 50px;
    text-align: center;
    font-style: italic;
}

.who-we-are-section {
    padding-top: 220px;
    padding-left: 200px;
    padding-right: 200px;
}

.who-we-are-section h1 {
    font-size: 64px;
    font-weight: 700;
    color: white;
    text-align: center;
}

.who-we-are-section p {
    color: white;
    font-size: 20px;
    font-style: normal;
}

.capture-mood-section  {
    padding-top: 100px;
}

.capture-mood-section h1 {
    font-size: 64px;
    font-weight: 700;
    color: white;
    text-align: center;
}

/* upload image section */
.upload-image {
    background-color: #4D4DFF;
}

.click-image {
    background-color: #4D4DFF;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 20px;
    font-size: 20px;
    cursor: pointer;
    color: white;
}

/* footer */
.footer-section {
    background-color: #4D4DFF;
}

.footer-section h1 {
    font-size: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
    font-weight: 500;
    text-align: center;
}

/* Mobile Styles */
.navbar-toggle {
    display: none;
    background: none;
    border: none;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
}
  
/* Responsive Design */
@media (max-width: 768px) {
    .navbar-logo h1 {
        font-size: 54px;
    }

    .home-section {
        padding-left: 10px;
        padding-right: 10px;
    }

    .hero-section h1 {
        font-size: 65px;
        padding-bottom: 40px;
    }

    .home-section p {
        font-size: 40px;
    }
}